<app-main-layout>
    <p-table [value]="borrowers" [tableStyle]="{ 'min-width': '50rem' }"
             [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords"
             (onPageChange)="onPageChange($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>NIN</th>
                <th>Account No</th>
                <th>Branch Name</th>
                <th>Salary</th>
                <th>Retirement</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-borrower>
            <tr>
                <td>{{ borrower.firstName }}</td>
                <td>{{ borrower.middleName }}</td>
                <td>{{ borrower.lastName }}</td>
                <td>{{ borrower.NIN }}</td>
                <td>{{ borrower.bankAccountNumber }}</td>
                <td>{{ borrower.nearestBranchName }}</td>
                <td>{{ borrower.salary }}</td>
                <td>{{ borrower.retirementDate }}</td>
                <td>
                    <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true"></p-button>
                    <!-- Add more buttons if needed -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-main-layout>
