<app-main-layout>
    <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
                <th>
                    <p-button label="New Category" (onClick)="goToCreateCategory()"></p-button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>{{ category.categoryCode }}</td>
                <td>{{ category.categoryName }}</td>
                <td>{{ category.recordStatusId }}</td>
                <td>
                    <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" (onClick)="edit(category)" />
                    <!-- <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" /> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-main-layout>

