<p-card styleClass="pt-0">
    <p-menubar styleClass="p-menubar">
     <ng-template pTemplate="start">
  <span class="inline-flex align-items-center gap-2 px-2 py-2">
    <!-- Logo -->
    <img src="bayportlogo.png" alt="Logo" class="h-8 w-8"  style="width: 25px; height: auto; " />

    <!-- Title -->
    <span class="font-medium text-xl font-semibold">
      <!-- Bayport <span class="text-primary">Mandate</span> -->
       <h4 style="margin: 0; font-size: 1.5rem; color: #003366;">
        Bayport Mandate
      </h4>
    </span>
  </span>
</ng-template>

      <ng-template pTemplate="item" let-item let-root="root"></ng-template>
      <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
          <!-- Avatar and Profile Component -->
          <app-profile></app-profile>
        </div>
      </ng-template>
    </p-menubar>
  </p-card>
  
  <div class="grid">
    <div class="col-2">
      <p-panelMenu [model]="items" styleClass="w-full md:w-20rem"></p-panelMenu>
    </div>
    <div class="col">
      <ng-content></ng-content>
    </div>
  </div>
  