.p-menubar{
    background-color: red;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh; /* Make sure the grid takes up the full viewport height */
}

.col-2 {
    background-color: #f8f9fa; /* Sidebar background color */
    padding: 1rem;
}

.col-10 {
    padding: 1rem;
    overflow-y: auto;
}
