<app-main-layout>
    <p-table [value]="fsp" [tableStyle]="{ 'min-width': '50rem' }"
             [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords"
             (onPageChange)="onPageChange($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>Fsp Code</th>
                <th>Fsp Name</th>
                <th>Fsp Short Name</th>
                <th>Fsp Reference Number</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fsp>
            <tr>
                <td>{{ fsp.fspCode }}</td>
                <td>{{ fsp.fspName }}</td>
                <td>{{ fsp.fspShortName }}</td>
                <td>{{ fsp.fspReferenceNumber }}</td>
                <td>
                    <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true"></p-button>
                    <!-- Add more buttons if needed -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-main-layout>
