<app-main-layout>
  <div class="flex justify-content-center flex-wrap">
    <p-card [style]="{ width: '50rem' }">
      <ng-template pTemplate="header">
        <div class="p-card-header">
          <h2>Upload Client Rv</h2>
        </div>
      </ng-template>

      <div class="file-upload-container">
        <p-fileUpload
          mode="basic"
          chooseLabel="Select File"
          [auto]="true"
          accept=".csv,.xlsx"
          (onSelect)="onFileSelect($event)"
          [disabled]="inProgress"
        ></p-fileUpload>

        <!-- Show selected file name -->
        <p *ngIf="selectedFileName" class="mt-2">
          <strong>Selected File:</strong> {{ selectedFileName }}
        </p>

        <p-button
          label="Upload"
          icon="pi pi-upload"
          [disabled]="!fileControl.value || inProgress"
          (click)="uploadFile()"
          styleClass="mt-2"
        ></p-button>

        <p-progressSpinner *ngIf="inProgress" styleClass="mt-2"></p-progressSpinner>
      </div>
    </p-card>
  </div>
</app-main-layout>
