.p-card-header{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}   

form{
    /* background-color: red; */
    height: 15em;
    display: grid;
    justify-content: center;
    align-items: center;
}

#footer{
    display: flex;
    justify-content: center;
}

#category-form{
    width: 100%;
}