
<app-main-layout>
    <div id="account-form" class="flex justify-content-center flex-wrap">
        <p-card id="auth-block" [style]="{ width: '40rem', height: '25rem' }">
            <ng-template  pTemplate="header">
                <div class="p-card-header">
                    <h2>ESS Accounts</h2>
                </div>
            </ng-template>
    <form [formGroup]="uploadForm" (ngSubmit)="submitFile()">
        <div class="form-group">
          <label for="file">Select File:</label>
          <input type="file" id="file" (change)="onFileChange($event)" [ngClass]="{'is-invalid': submitted && formControls['file'].errors}">
          <div *ngIf="submitted && formControls['file'].errors" class="invalid-feedback">
            File is required.
          </div>
        </div>
        <button type="submit" [disabled]="inProgress" class="btn btn-primary">Upload</button>
      </form>
 </p-card>
    </div>
</app-main-layout>

  