<app-main-layout>
    <p-table [value]="loan" [tableStyle]="{ 'min-width': '50rem' }"
             [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords"
             (onPageChange)="onPageChange($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>Loan Number</th>
                <th>Loan</th>
                <th>Fsp Code</th>
                <th>Tenure</th>
                <th>Application No</th>
                <th>Loan Amount</th>
                <th>Borrower</th>
                <th>Loan Date</th>
                <th>Product Code</th>
                <th>Total Amount Pay</th>
                <th>Status</th>
                <th>Action</th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loan>
            <tr>
                <td>{{ loan.loanNumber }}</td>
                <td>{{ loan.loanPurpose}}</td>
                <td>{{ loan.fspCode }}</td>
                <td>{{ loan.tenure }}</td>
                <td>{{ loan.applicationNumber }}</td>
                <td>{{ loan.loanAmount }}</td>
                <td>{{ loan.borrower }}</td>
                <td>{{ loan.loanDate }}</td>
                <td>{{ loan.productCode }}</td>
                <td>{{ loan.totalAmountToPay }}</td>
                <td>{{ loan.loanStatus }}</td>
                <td>
                    <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true"></p-button>
                    <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true"></p-button>
                    <!-- Add more buttons if needed -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-main-layout>
