<app-main-layout>
  <div class="flex justify-content-center flex-wrap">
 <p-card [style]="{ width: '100%' }" styleClass="m-3">
        <ng-template pTemplate="header">
        <div class="p-card-header">
          <h2>Product List</h2>
        </div>
       <div class="flex justify-content-between mb-3" style="gap: 1rem;">
        <p-button label="Add Product" icon="pi pi-plus" (click)="goToCreateProduct()" />
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [(ngModel)]="term" placeholder="Search products" (input)="fetchProduct()" />
        </span>
      </div>
      </ng-template>

      <p-table
        [value]="products"
        [paginator]="true"
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        [lazy]="true"
        (onLazyLoad)="onPageChange($event)"
        [loading]="loading"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Minimum Tenure</th>
            <th>Maximum Tenure</th>
            <th>Maximum Amount</th>
            <th>Minimum Amount</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
          <tr>
            <td>{{ (currentPage - 1) * pageSize + rowIndex + 1 }}</td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.minimumTenure }}</td>
            <td>{{ product.maximumTenure }}</td>
            <td>{{ product.maxLoanAmount }}</td>
            <td>{{ product.minLoanAmount }}</td>
            <td>
              <p-button label="View" icon="pi pi-eye" styleClass="p-button-text" (click)="viewProduct(product.id)" />
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No products found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</app-main-layout>