<p-card id="auth-block" [style]="{ width: '35rem', height: '30rem' }">
    <ng-template pTemplate="header">
       <div class="p-card-header text-center" style="display: flex; flex-direction: column; align-items: center;">
      
      <!-- ✅ Logo -->
      <img src="bayportlogo.png" 
           alt="Bayport Logo" 
           style="width: 60px; height: auto; margin-bottom: 0.5rem;" />

      <!-- ✅ Title below logo -->
      <h2 style="margin: 0; font-size: 1.5rem; color: #003366;">
        Account Verification
      </h2>
    </div>
    </ng-template>
    <form [formGroup]="verificationForm" (ngSubmit)="verify()">
    
        <p-floatLabel>
            <input id="email" type="email" [formControl]="email" pInputText class="p-inputtext p-component"
                style="width: 100%; height: 3rem;" />
            <label for="email">Email</label>
        </p-floatLabel>

        @if (email.hasError('required') && (email.touched || submitted)) {
        <small id="email-help-required" class="error">*Email is required.</small>
        }
        @if (email.hasError('email') && (email.touched || submitted)) {
        <small id="email-help-invalid" class="error">*Please enter a valid email.</small>
        }


        <p-floatLabel>
            <input id="verification-code" type="text" [formControl]="verificationCode" pInputText class="p-inputtext p-component"
                style="width: 100%; height: 3rem;" />
            <label for="verification-code">Verification Code</label>
        </p-floatLabel>

        @if (verificationCode.hasError('required') && (verificationCode.touched || submitted)) {
        <small id="verification-code" class="error">*VerificationCode is required.</small>
        }


        <p-button type="submit" label="Verify" class="w-full" styleClass="w-full" [loading]="inProgress" />
   
         <!-- Login Link -->
        <div class="text-center mt-3">
           Click <a [routerLink]="['/login']" class="verify-link">Here</a> back to Login ?
        </div>
   
    </form>
</p-card>