<app-main-layout>
  <div class="dashboard-cards">
    <p-card styleClass="dashboard-card users">
      <div class="card-content">
        <i class="pi pi-users"></i>
        <div>
          <h3>Total Users</h3>
          <p>{{ totalUsers }}</p>
        </div>
      </div>
    </p-card>

    <p-card styleClass="dashboard-card products">
      <div class="card-content">
        <i class="pi pi-box"></i>
        <div>
          <h3>Total Mandates</h3>
          <p>{{ totalProducts }}</p>
        </div>
      </div>
    </p-card>

    <p-card styleClass="dashboard-card loans">
      <div class="card-content">
        <i class="pi pi-dollar"></i>
        <div>
          <h3>Success Mandates</h3>
          <p>{{ totalLoans }}</p>
        </div>
      </div>
    </p-card>
  </div>
</app-main-layout>
