@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* @import "primeflex/primeflex.css"; */


body {
  zoom: 0.7;
}

body {
  font-size: 1rem;
}