@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* @import "primeflex/primeflex.css"; */

/* Option 1: Scale the entire body */
/* body {
  transform: scale(0.8);
  transform-origin: top left;
  width: 125%; 
  height: 125%; 
 /*

/* Option 2: Scale only the app root (Alternative) */

/* app-root {
  transform: scale(0.7);
  transform-origin: top left;
  display: block;
  width: 125%;
  height: 125%;
} */


/* Option 3: Using zoom (Webkit browsers only) */

body {
  zoom: 0.7;
}


/* Option 4: Responsive scaling based on viewport */
/*
html {
  font-size: 80%; /* This will make everything using rem units smaller */
/* } */

body {
  font-size: 1rem; /* Reset to use the smaller base font size */
}
